---
const {title} = Astro.props;
const {class: className, ...rest} = Astro.props;
---
<button class={className} {...rest}>{title}</button>










<style>
    @layer components{
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            padding: 0.8rem 2rem;
            line-height: var(--button-txt-lineheight);
            font-size: var(  --body-text);
        }
    .login-Btn{
        background-color: var(--defaul-2-btn-bg-clr);
        color: var(--primary-3);
    }
    }
    
</style>