---

---
<footer class="full">
    <div class="footer">
<h5>AskExperts</h5>
<hr>
<span>©2022 Consultalk. All rights reserved | Terms of Service | Privacy Policy</span>
    </div>
</footer>



<style>
    @layer components{
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-block: 2.87rem;
        background-color: var(--header-bg); 
        text-align: center;
        height: 13.78rem;
    }

    .full> * {
  grid-column: content;
}
    .footer{
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-direction: column;
    }
    hr{
        display: flex;
        justify-content: center;
        width: calc(120rem/2);
        border-bottom: 75rem;
        border:solid #707070;
        
    }
 

    span{
        color: var(--secondary-2);
        line-height: var(--body-text-lineheight);
    }
}
</style>