---
import Button from "./Button.astro"
---
<header class="full">
    <div>
    <h5>AskExperts</h5>
    <nav class="navigation">
        <a href="#">Home</a>
        <a href="#">Case Study</a>
        <a href="#">Team</a>
        <a href="#">About</a>
    </nav>
    <Button class="login-Btn" title="Login" />
    </div>
</header>
<style>
 @layer components{
 header {
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-bg);
  padding: 2.37rem;
}
div {
  border: solid orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  width: 75rem;
  flex-shrink: 0;
}


.navigation {
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
  gap: 1.2rem;
  font-family: var(--font-family);
}
.navigation a{
  color:var( --secondary-2)
}
 }
</style>