---
import "../styles/main.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../styles/">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Figma to code</title>
  </head>
  <body>
   <slot />
  </body>
</html>

<style>
  /* body {
  display: grid;
  grid-template-columns: 1fr minmax(0, 120rem) 1fr;
  > *  {
    grid-column: 2;
  }
    .full {
      display: grid;
    grid-template-areas: 1 / -1;
  }
  } */


</style>
